<div class="blog_item p-card">
  <!--     if文で出力する画像分岐 -->
  <% if (count === 0) { %>
  <div class="p-card__image">
    <img src="../images/top/Rectangle-2.jpg" alt="自動分析機能のアイコン" />
  </div>
  <div class="p-card__inner">
    <p class="p-card__title">タイトルが入ります。タイトルが入ります。</p>
    <!-- /.p-card__title -->
    <p class="p-card__text">
      説明文が入ります。説明文が入ります。説明文が入ります。
    </p>
    <div class="p-card__items">
      <div class="p-card__category">カテゴリ</div>
      <!-- /.p-card__category -->
      <time class="p-card__time">2021.07.20</time
      ><!-- /.p-card__time -->
    </div>
    <!-- /.p-card__items -->
  </div>
  <!-- /.p-card__inner -->
  <% } else if (count === 1) { %>
  <div class="p-card__image">
    <img src="../images/top/Rectangle-1.jpg" alt="自動分析機能のアイコン" />
  </div>
  <div class="p-card__inner">
    <p class="p-card__title">タイトルが入ります。タイトルが入ります。</p>
    <!-- /.p-card__title -->
    <p class="p-card__text">
      説明文が入ります。説明文が入ります。説明文が入ります。
    </p>
    <div class="p-card__items">
      <div class="p-card__category">カテゴリ</div>
      <!-- /.p-card__category -->
      <time class="p-card__time">2021.07.20</time
      ><!-- /.p-card__time -->
    </div>
    <!-- /.p-card__items -->
  </div>
  <!-- /.p-card__inner -->
  <% } else { %>
  <!-- else -->
  <div class="p-card__image">
    <img src="../images/top/Rectangle.jpg" alt="自動分析機能のアイコン" />
  </div>
  <div class="p-card__inner">
    <p class="p-card__title">タイトルが入ります。タイトルが入ります。</p>
    <!-- /.p-card__title -->
    <p class="p-card__text">
      説明文が入ります。説明文が入ります。説明文が入ります。
    </p>
    <div class="p-card__items">
      <div class="p-card__category">カテゴリ</div>
      <!-- /.p-card__category -->
      <time class="p-card__time">2021.07.20</time
      ><!-- /.p-card__time -->
    </div>
    <!-- /.p-card__items -->
  </div>
  <!-- /.p-card__inner -->
  <% } %>
</div>
