.l-section__title {
  text-align: center;
  font-size: rem(20);
  line-height: rem(29);
  letter-spacing: rem(2);
  font-weight: normal;
  position: relative;

  @include mq(tab) {
  }

  &::after {
    position: absolute;
    content: "";
    top: 10%;
    left: 50%;                          
    transform: translate(-50%,-70%);
    display: inline-block;
    // justify-content: center;
    // align-items: center;
    font-size: rem(50);
    font-family:$font-family-en;
    line-height: rem(72);
    color: #f9f871;
    opacity: 0.27;
    letter-spacing: 0.05em;
    border-radius: 50%;
    @include mq(tab) {
      font-size: rem(110);
      line-height: rem(150);
      letter-spacing: .01em;
    }
  }
}
