// 色
$background: #111111; // 背景
$text-color: #FFFFFF; // テキスト色
$item-color: #FFEA2E; // カテゴリやメッセージなどの色


// マウスホバー 
$opacity: 0.7; // 透過度


//コンテンツ余白
$padding-pc: 25px; // タブレット時の余白
$padding-sp: 20px; // スマホ時の余白
// ---

// レイアウト
// ---
	// とっぷが9/26に設定をかまっています。
$l-tab: 768px; // タブレットサイズ
$l-inner: 1100px; // インナー幅
$l-pc: 1440px; // パソコン幅

// ブレークポイント（PC基準）
$breakpoints: (
	"sp": "screen and (min-width: 375px)",
	"tab": "screen and (min-width: #{$l-tab})",
	"pc": "screen and (min-width: #{$l-inner})",
	"lg": "screen and (min-width: #{$l-pc})",

);

// フォント
$font-family-base:'Noto Sans JP', sans-serif;// ベースフォント(日本語）
$font-family-en: 'Noto Serif JP', serif;// ベースフォント(英語）
$font-size-base: 16px; // ベースフォントサイズ
$font-weight-base: 400; // ベースフォントウェイト
$lh: 1.6; // ベース行間

//フォントファミリーのコーディング補足
// 今回はlinkを使用。importを使用する場合は、下記のように記述。 
// @import url('https://fonts.googleapis.com/css2?family=Lora&family=Noto+Serif+JP:wght@400;500&display=swap');


//フォントウェイト(カスタム設定）
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;

